venv/
**/venv

data/*
!data/*
data/raw/*
data/splitted/*
!data/raw/README.md
!data/splitted/README.md

exploration/*


results/checkpoints/*
results/figures/*
!results/README.md

**/.DS_Store
**/__pycache__

.ruff_cache/*